body {
  background-color: #FFFEDD;
  font-family: sans-serif;
  margin: 0;
}
h1{
  text-align: center;
  background-color: #442200;
  color: #FFFEEE;
  padding-top: 4px;
  padding-bottom: 16px;
  margin: 0;
  border-radius: 10px;
}
.navbar-wrapper{
  display: flex;
}
.listings, .about{
  margin: 4px;
  border: 4px solid #442200;
  border-radius: 10px;
  background-color: #7d5515;
  flex: 2;
}

.about div {
  background-color: #FFDD88;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 4px;
}
.listings div{
  background-color: #FFDD88;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 4px;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 0px;
  padding: 15px;
  background-color: tan;
  display: inline-block;
  width: 100%;
  max-width: 250px;
  border-radius: 3px;
}

.header {
  margin-bottom: 0px;
  padding: 15px;
  background-color: tan;
  display: inline-block;
  width: 100%;
  max-width: 10000px;
  height: 110px;
  border-radius: 5px;
}

.lowerHeader {
   margin-bottom: 25px;
  padding: 15px;
  background-color: tan;
  display: inline-block;
  width: 100%;
  max-width: 10000px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-size: 25px;
  color: red;
}

button {
  font-size: 16px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 50px solid limegreen;
  display: block;
}

img.resize{
  width: 1350px;
  height: 733px;
}

img.resizeMap {
  width: 750px;
  height: 450px;
}

img.resizeKangaroo {
  width: 280px;
  height: 225px;
}

.image{
  position: relative; 
  width: 100%;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 200px; 
   width: 100%; 
}

h3 {
  position: absolute; 
  top: 180px; 
  left: 100px; 
  width: 100%;
  color: #442200;
}

ownership { 
  position: absolute; 
  top: 280px; 
  left: 100px;
  width: 100%;
}

mainpage {
  display: block;
}

aboutpage {
  display: none;
}

listingspage {
  display: none;
}

.listing-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.kangarooListing {
  border: 5px solid grey;
  border-radius: 15px;
  padding: 5px;
  width: 300px;
  height: 400px;
  margin-top: 10px;
}

.stats-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: flex;
  
  -webkit-flex-direction: column;
  justify-content: flex-start;
}

.stats-item {
  color: black;
  font-size: 1.5em;
}
